{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <section class="container">
        <h1>Tous les programmes</h1>

        <div class="d-flex flex-wrap justify-content-center align-items-baseline">
            {% for program in programs %}
                <div class="d-flex flex-column justify-content-start align-self-center m-3">
                    <h2>{{ program.title }}</h2>
                    <img src="{{ program.poster }}" alt="Image du film {{ program.title }}">
                    <p>{{ program.synopsis }}</p>
                    <a href="{{ path("program_show", {id:program.id}) }}">Voir la fiche</a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}