{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Tous les programmes</h1>

        <div class="d-flex flex-wrap justify-content-center align-items-baseline">
            {% for program in programs %}
                <div class="prog-card d-flex flex-column justify-content-start align-self-center m-3">
                    <a href="{{ path("program_show", {id:program.id}) }}" class="text-light">
                        <h2>{{ program.title }}</h2>
                        <img src="{{ program.poster }}" class="rounded-4" alt="Image du film {{ program.title }}">
                        <p>{{ program.synopsis }}</p>
                    </a>
                    <form action="{{ path("program_delete", {id:program.id}) }}" method="DELETE">
                        <input type="submit" value="Supprimer" class="btn btn-danger">
                    </form>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}